<div class="container">
    <h2>How to</h2>
    <ul>
        <li>@Html.ActionLink("Lister des transactions", "AboutTransactionIndex")</li>
        <li>@Html.ActionLink("Editer une transaction", "AboutTransactionEdit")</li>
    </ul>
</div>