@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="container">
    <h2>@Localizer["HowTo"]</h2>
    <ul>
        <li>@Html.ActionLink(Localizer["TransactionsList"].Value, "AboutTransactionIndex")</li>
        <li>@Html.ActionLink(Localizer["TransactionEdit"].Value, "AboutTransactionEdit")</li>
    </ul>
</div>