@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["AboutIndexTransaction"];
}
<h2>@ViewData["Title"]</h2>

<div class="panel panel-primary">
    <div class="panel-heading">@Localizer["LoadTransactionsText"]</div>
    <div class="panel-body">
        <img src="~/images/Index_without_csv.png" class="img-thumbnail" />
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">@Localizer["ImageText"]</div>
    <div class="panel-body">
        <img src="~/images/Index_with_transactions.png" class="img-thumbnail" />
    </div>
</div>