@model WalletManagerSite.Models.TransactionViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["Title"]</h2>

<h4>TransactionViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Compte" class="control-label"></label>
                <input asp-for="Compte" class="form-control" />
                <span asp-validation-for="Compte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComptabilisationDate" class="control-label"></label>
                <input asp-for="ComptabilisationDate" class="form-control" />
                <span asp-validation-for="ComptabilisationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationDate" class="control-label"></label>
                <input asp-for="OperationDate" class="form-control" />
                <span asp-validation-for="OperationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Label" class="control-label"></label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reference" class="control-label"></label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValueDate" class="control-label"></label>
                <input asp-for="ValueDate" class="form-control" />
                <span asp-validation-for="ValueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<WalletManagerDTO.Enumerations.TransactionCategory>()"></select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
