@model WalletManagerSite.Models.CompareViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}

<h2>@Localizer["Title"]</h2>

@{
    if (!string.IsNullOrWhiteSpace(ViewBag.Error))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }
}

<div class="container">
    @foreach (var transactionsViewModel in Model.TransactionsToCompare)
    {
    <div class="col-md-@Model.ColumnSize">
        <h3>@transactionsViewModel.Date.Value.ToString("Y")</h3>
        <partial name="CompareTransactionsTablePartialView" model="transactionsViewModel.Transactions" />
    </div>
    }
</div>
